<!-- INCLUDE include_header.html --> 

<table border="0" cellspacing="1" cellpadding="10">
  <tr>
    <td>
      <table width="100%" cellpadding="2" cellspacing="1" border="0" align="center" class="with_border_alternate">
        <tr>
          <td class="title">
            <h3 align="center">You are running UltraStats Version <u>{BUILDNUMBER}</u></h3>
          </td>
        </tr>
      </table>
      <table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
        <tr>
          <td class="tableBackground">
            <h1>What is UltraStats?</h1>
            <p>UltraStats is a very enhanced and flexable log analyzing tool for
            Call of Duty gamelog files.<br>
            It is able to parse and consolidate the informations from your
            gamelogs, and put them into a MySQL Database with a very efficient
            and high optimized database layout.</p>
            <p>&nbsp;</p>
            <h1>Support UltraStats</h1>
            <p>If you like UltraStats and want to support us, feel free to
            donate. Even small amount of donations are welcome, and show us your
            support. Thank you :)</p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="769306">
				<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="">
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
            <h1>Author</h1>
            <p><b>Andre Lorbach (aka <span style="background-color: #000000"><font color="#FFFF00">deltaray</font></span>)<br>
            Visit my Clanpage at <a href="http://www.eifelzocker.de">www.eifelzocker.de</a>
            and our shooter community at <a href="http://www.shooter-szene.de">www.shooter-szene.de</a></b></p>
            <ul>
              <li>Database Design</li>
              <li>Framework Design</li>
              <li>Backend and Frontend design and coding<br>
                This includes the parser, webinterface and frontend.</li>
              <li>&quot;Default&quot; and &quot;dark theme</li>
              <li>Player Model Gfx and Design</li>
              <li>And lots of other stuff ...</li>
            </ul>
            <ul>
            </ul>
            <h1>Sponsors</h1>
            <ul>
              <li><a target="_blank" href="http://www.treyarch.com">Treyarch.com<br>
                </a>The third release of UltraStats, which is compatible with
                Cod, Cod2, Cod4 and CodWW (Call of Duty: World at War) was
                developed in cooperation with <a target="_blank" href="http://www.treyarch.com">Treyarch.com</a>!
                Thanks for the great oppertunity to work with you guys, to
                create a better stats application for Call of Duty users.</li>
            </ul>
            <h1>Greets and credits</h1>
            <ul>
              <li>My <a href="http://www.eifelzocker.de/">Clan</a> for many help
                and support!</li>
              <li><a href="http://www.ulmer-fun-clan.de/phpBB2/portal.php" target="_blank">[-UFC-]J.Ryan</a>
                - thanks for some medal code, and missing pictures and also
                other stuff.</li>
              <li><a href="http://www.gbcclan.de/" target="_blank">ramirez</a> -
                thanks for alternate way of having server time in the logfile
                and use it.</li>
              <li><a href="http://www.nlgames.org/" target="_blank">Hunter</a> -
                for translation, sending some ideas, and other contributions.</li>
              <li>All other helpers and those who had ideas for UltraStats and
                contributing them.</li>
              <li>All who are waiting for UltraStats :-D</li>
            </ul>
            <h1>Helpers</h1>
            <p><b>Dominique Häfliger (aka <font color="#FFFF00"><span style="background-color: #000000">encore</span></font>)
            - <a href="http://www.shooter-szene.de" target="_blank">www.shooter-szene.de</a></b></p>
            <ul>
              <li>Help with GFX, Map Screenshots, Medals Design</li>
              <li>Help filling the database with usefull informations</li>
            </ul>
            <p><b>Steffen Paykowski (aka <span style="background-color: #000000"><font color="#FFFF00">stp</font></span>)
            - <a href="http://www.shooter-szene.de" target="_blank">www.shooter-szene.de</a></b></p>
            <ul>
              <li>Main German translation</li>
              <li>Help with researching background Information for maps, weapons
                and such stuff.</li>
            </ul>
            <h1>Version History&nbsp;</h1>
            <p>See the <b>ChangeLog</b> document for more.</p>
            <h1><b>Legal State and License</b></h1>
            <p>Created by Andre Lorbach (<b>2005, 2006, 2007, 2008</b>).</p>
            <p>UltraStats is free software: you can redistribute it and/or
            modify it under the terms of the GNU General Public License as
            publishedby the Free Software Foundation, either version 3 of the
            License, or (at your option) any later version. The full license
            document can be found in the <b>COPYING</b> file.</p>
            <p>Redistribution and use in source and binary forms, with or
            without modification, are permitted provided that the following
            conditions are met:</p>
            <ul>
              <li>Redistributions of source code must retain the above copyright
                notice, this list of conditions and the following disclaimer.</li>
              <li>The backlines in the footer stay intact, this is at least the
                minimum award for the uncountable amount of hours I spent into
                making UltraStats.</li>
              <li>Redistributions in binary form must reproduce the above
                copyright notice, this list of conditions and the following
                disclaimer in the documentation and/or other materials provided
                with the distribution.</li>
              <li>The names of its contributors may be used to endorse or
                promote products derived from this software without specific
                prior written permission.</li>
            </ul>
            <p>
				THERE IS NO WARRANTY FOR THE PROGRAM, TO THE EXTENT PERMITTED BY
				APPLICABLE LAW.  EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT
				HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM "AS IS" WITHOUT WARRANTY
				OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
				THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
				PURPOSE.  THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM
				IS WITH YOU.  SHOULD THE PROGRAM PROVE DEFECTIVE, YOU ASSUME THE COST OF
				ALL NECESSARY SERVICING, REPAIR OR CORRECTION.
			</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- INCLUDE include_footer.html -->
