	<br><br>

	<table width="100%" border="0" cellspacing="1" cellpadding="0" class="mainfooter us-chrome-footer">
	<tr>
		<td align="center" class="line1">Created 2005-2026 - By <a href="https://github.com/alorbach/ultrastats" target="_blank" rel="noopener noreferrer">alorbach</a></td>
		<td align="center" class="line0">
			&nbsp;<a href="https://github.com/alorbach/ultrastats/issues" target="_blank" rel="noopener noreferrer">Support Issues</a> |
			&nbsp;<a href="https://alorbach.github.io/ultrastats/" target="_blank" rel="noopener noreferrer">Ultrastats</a> Version {BUILDNUMBER}
		</td>
		<td align="center" class="line1">
			&nbsp;<b>Sponsors:</b>
		 </td>
		<td align="center" class="line0">
			<a href="http://www.callofduty.com/" target="_blank" rel="noopener noreferrer">CallOfDuty: World at War</a>
			was made by
			<a href="http://www.treyarch.com" target="_blank" rel="noopener noreferrer">Treyarch</a>
			and published by
			<a href="http://www.activision.com" target="_blank" rel="noopener noreferrer">Activision</a>
			&nbsp;
		 </td>
	</tr>
	<!-- IF ShowPageRenderStats="true" -->
	<tr>
		<td align="center" class="line2" colspan="4">
			{LN_FOOTER_PAGERENDERED}: <b>{PAGERENDERTIME}</b> {LN_FOOTER_SECONDS}
			&nbsp;|&nbsp;{LN_FOOTER_DBQUERIES}: <b>{TOTALQUERIES}</b>
			&nbsp;|&nbsp;{LN_FOOTER_GZIPENABLED}: <b>{GzipCompressionEnabled}</b>
			&nbsp;|&nbsp;{LN_FOOTER_SCRIPTTIMEOUT}: <b>{MaxExecutionTime}</b> {LN_FOOTER_SECONDS}
		</td>
	</tr>
	<!-- ENDIF ShowPageRenderStats="true" -->
	</table>
	</td>
  </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
	<td colspan="2" background="{BASEPATH}themes/{web_theme}/images/bg_bottom.png" height="16"><img src="{BASEPATH}themes/{web_theme}/images/bg_bottom.png" height="16"></td>
</tr>
</table>

{EXTRA_FOOTER}
</body>
</html>