	<br><br>

	<table width="100%" border="0" cellspacing="1" cellpadding="0" class="mainfooter">
	<tr>
		<td align="center" class="line1">Created 2005-2008 - By <a href="http://www.eifelzocker.de" target="_blank">deltaray</a></td>
		<td align="center" class="line0">
			&nbsp;<a href="http://www.shooter-szene.de/PNphpBB2-index-c-28.phtml" target="_blank">Support Forums</a> | 
			&nbsp;<a href="http://www.ultrastats.org" target="_blank">Ultrastats</A> Version {BUILDNUMBER}
		</td>
		<td align="center" class="line1">
			&nbsp;<B>Sponsors:</B> 
		 </td>
		<td align="center" class="line0">
			<a href="http://www.callofduty.com/" target="_blank">CallOfDuty: World at War</a> 
			was made by
			<a href="http://www.treyarch.com" target="_blank">Treyarch</a>
			and published by 
			<a href="http://www.activision.com" target="_blank">Activision</a>
			&nbsp;
		 </td>
	</tr>
	<!-- IF ShowPageRenderStats="true" -->
	<tr>
		<td align="center" class="line2" colspan="4">
			{LN_FOOTER_PAGERENDERED}: <B>{PAGERENDERTIME}</B> {LN_FOOTER_SECONDS}
			&nbsp;|&nbsp;{LN_FOOTER_DBQUERIES}: <B>{TOTALQUERIES}</B>
			&nbsp;|&nbsp;{LN_FOOTER_GZIPENABLED}: <B>{GzipCompressionEnabled}</B>
			&nbsp;|&nbsp;{LN_FOOTER_SCRIPTTIMEOUT}: <B>{MaxExecutionTime}</B> {LN_FOOTER_SECONDS}
		</td>
	</tr>
	<!-- ENDIF ShowPageRenderStats="true" -->
	</table>
	</td>
  </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
	<td colspan="2" background="{BASEPATH}themes/{web_theme}/images/bg_bottom.png" height="16"><img src="{BASEPATH}themes/{web_theme}/images/bg_bottom.png" height="16"></td>
</tr>
</table>

{EXTRA_FOOTER}
</body> 
</html>