<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_with_border">
<tr>
	<td class="topmenu1begin" align="center" width="16" nowrap ><img align="left" src="{BASEPATH}images/icons/gamever_{gen_gameversion}.gif" width="13" height="13" vspace="0" OnMouseOver="HoverPopup(null, '{LN_DETAIL_INFO}', '{LN_CONFIGUREDGAME} {CONFIGUREDGAME_TITLE}', '');" OnMouseMove="movePopupWindow(event,'popupdetails', this);" OnMouseOut="FinishPopupWindow();"></td>
	<td class="topmenu1" nowrap align="center" width="75"><a class="topmenu1_link" href="{BASEPATH}index.php?{additional_url}" target="_top"><img align="left" src="{MENU_HOMEPAGE}" width="16" height="16" vspace="0">{LN_MENU_HOME}</a></td>
	<td class="topmenu1" nowrap align="left" width="75">
		<div id="menu"><ul>
		  <li class="topmenu1_link">

			<img align="left" src="{MENU_SEARCH}" width="16" height="16" title="{LN_MENU_SEARCH}" OnClick="ToggleDisplayTypeById('menu_find');" OnMouseOver="HoverPopupMenuHelp(event, this, '{LN_MENU_SEARCH}', '{LN_MENU_CLICKTOEXPANDMENU}');" OnMouseOut="FinishPopupWindow();">
			<a class="topmenu1_link" href="{BASEPATH}find-players.php?{additional_url}" target="_top">
			{LN_MENU_SEARCH}
			</a>

			<ul id="menu_find" OnMouseMove="ToggleDisplayEnhanceTimeOut('menu_find');">
				<li class="topmenu2"><a class="topmenu1_link" href="{BASEPATH}find-players.php?{additional_url}" target="_top"><img align="left" src="{MENU_SEARCH}" width="16" height="16" vspace="0">{LN_MENU_SEARCH_PLAYERS}</a></li>
				<li class="topmenu2"><a class="topmenu1_link" href="{BASEPATH}find-chat.php?{additional_url}" target="_top"><img align="left" src="{MENU_SEARCH}" width="16" height="16" vspace="0">{LN_MENU_SEARCH_CHAT}</a></li>
			</ul>
		  </li>
		</ul></div>
		

	</td>
	<td class="topmenu1" nowrap align="left" width="100">
		<div id="menu">
		<ul>
			<li class="topmenu1_link">

			<img align="left" src="{MENU_NAV_CLOSE}" width="16" height="16" OnClick="ToggleDisplayTypeById('menu_showrounds');" OnMouseOver="HoverPopupMenuHelp(event, this, '{LN_MENU_ROUNDSTATS}', '{LN_MENU_CLICKTOEXPANDMENU}');" OnMouseOut="FinishPopupWindow();">
			<a class="topmenu1_link" href="rounds.php?{additional_url}" target="_top"> 
			{LN_MENU_ROUNDSTATS}
			</a>

			<ul id="menu_showrounds" OnMouseMove="ToggleDisplayEnhanceTimeOut('menu_showrounds');">
				<li class="topmenu2" >
					<img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">
					<a class="topmenu2_link" href="rounds.php?{additional_url}" target="_top">
					{LN_MENU_ROUNDS_BYDATE}</a>
				</li>

				<li class="topmenu2 topmenu2_link">
				<h2><img align="left" src="{MENU_NAV_CLOSE}" width="16" height="16" vspace="0" OnClick="ToggleDisplayTypeById('menu_showrounds_submenu1');">{LN_MENU_ROUNDS_BYGAMETYPE}</h2>
					<ul id="menu_showrounds_submenu1">
					<!-- BEGIN gametypes -->
					<li class="topmenu3" OnMouseMove="ToggleDisplayEnhanceTimeOut('menu_showrounds_submenu1'); ToggleDisplayEnhanceTimeOut('menu_showrounds');">
					<a class="topmenu3_link" href="rounds.php?id={NAME}{additional_url}" target="_top">{GameTypeDisplayName}</a>
					</li>
					<!-- END gametypes -->
					</ul>
				</li>
			</ul>

			</li>
		</ul>
		</div>
	</td>
	<td class="topmenu1" nowrap align="left" width="100">
		<div id="menu"><ul>
		  <li class="topmenu1_link">

			<img align="left" src="{MENU_ADMINUSERS}" width="16" height="16" title="{LN_MENU_PLAYERSTATS}" OnClick="ToggleDisplayTypeById('menu_playerstats');" OnMouseOver="HoverPopupMenuHelp(event, this, '{LN_MENU_PLAYERSTATS}', '{LN_MENU_CLICKTOEXPANDMENU}');" OnMouseOut="FinishPopupWindow();">
			<a class="topmenu1_link" href="players.php?{additional_url}" target="_top">
			{LN_MENU_PLAYERSTATS}
			</a>

			<ul id="menu_playerstats" OnMouseMove="ToggleDisplayEnhanceTimeOut('menu_playerstats');">
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=Kills{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_BYKILL}</a></li>
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=Deaths{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_BYDEATH}</a></li>
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=Teamkills{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_BYTEAMKILLS}</a></li>
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=Suicides{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_BYSUICIDES}</a></li>
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=KillRatio{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_RATIO}</a></li>
			</ul>

		  </li>
		</ul></div>
	</td>
	<td class="topmenu1" nowrap align="left" width="110">
		<div id="menu"><ul>
		  <li class="topmenu1_link">

			<img align="left" src="{MENU_FOLDER_OPEN}" width="16" height="16" title="{LN_MENU_WEAPONSTATS}" OnClick="ToggleDisplayTypeById('menu_weaponstats');" OnMouseOver="HoverPopupMenuHelp(event, this, '{LN_MENU_WEAPONSTATS}', '{LN_MENU_CLICKTOEXPANDMENU}');" OnMouseOut="FinishPopupWindow();">
			<a class="topmenu2_link" href=" weapons.php?{additional_url}" target="_top">
			{LN_MENU_WEAPONSTATS}
			</a>

			<ul id="menu_weaponstats" OnMouseMove="ToggleDisplayEnhanceTimeOut('menu_weaponstats');">
				<!-- BEGIN weapontypes -->
				<li class="topmenu2 topmenu2_link">
				<h2><img align="left" src="{MENU_NAV_CLOSE}" width="16" height="16" vspace="0" OnClick="ToggleDisplayTypeById('menu_weaponstats_{ID}');">{Name}</h2>
					
					<ul id="menu_weaponstats_{ID}">
					<!-- BEGIN myweapons -->
					<li class="topmenu3" OnMouseMove="ToggleDisplayEnhanceTimeOut('menu_weaponstats_{ID}'); ToggleDisplayEnhanceTimeOut('menu_weaponstats');">
					<a class="topmenu3_link" href="weapons.php?id={INGAMENAME}{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{WeaponDisplayName}</a>
					</li>
					<!-- END myweapons -->
					</ul>
				</li>
				<!-- END weapontypes -->
			</ul>

		  </li>
		</ul></div>
	</td>
	<td class="topmenu1" nowrap align="left" width="135">
		<div id="menu"><ul>
		  <li class="topmenu1_link">

			<img align="left" src="{MENU_FOLDER_OPEN}" width="16" height="16" title="{LN_MENU_DAMAGESTATS}" OnClick="ToggleDisplayTypeById('menu_damagestats');" OnMouseOver="HoverPopupMenuHelp(event, this, '{LN_MENU_DAMAGESTATS}', '{LN_MENU_CLICKTOEXPANDMENU}');" OnMouseOut="FinishPopupWindow();">
			<a class="topmenu2_link" href=" damagetypes.php?{additional_url}" target="_top">
			{LN_MENU_DAMAGESTATS}
			</a>

			<ul id="menu_damagestats" OnMouseMove="ToggleDisplayEnhanceTimeOut('menu_damagestats');">
				<!-- BEGIN damagetypes_menu -->
				<li class="topmenu2">
				<a class="topmenu2_link" href="damagetypes.php?id={DAMAGETYPE}{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{DisplayName}</a>
				</li>
				<!-- END damagetypes_menu -->
			</ul>

		  </li>
		</ul></div>
	</td>
	<td class="topmenu1" nowrap align="left" width="100">
		<div id="menu"><ul>
		  <li class="topmenu1_link">

			<img align="left" src="{MENU_ADMINUSERS}" width="16" height="16" title="{LN_MENU_SERVERSTATS}" OnClick="ToggleDisplayTypeById('menu_serverstats');" OnMouseOver="HoverPopupMenuHelp(event, this, '{LN_MENU_SERVERSTATS}', '{LN_MENU_CLICKTOEXPANDMENU}');" OnMouseOut="FinishPopupWindow();">
			<a class="topmenu2_link" href="serverstats.php?{additional_url}" target="_top">
			{LN_MENU_SERVERSTATS}
			</a>

			<ul id="menu_serverstats" OnMouseMove="ToggleDisplayEnhanceTimeOut('menu_serverstats');">
				<li class="topmenu2"><a class="topmenu2_link" href="serverstats.php" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_SERVERLIST}</a></li>
	<!-- IF serverselected="true" -->
				<li class="topmenu2"><a class="topmenu2_link" href="serverstats.php?{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_SERVERPLAYEDMAPS}</a></li>
	<!-- ENDIF serverselected="true" -->
			</ul>

		  </li>
		</ul></div>
	</td>

	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/index.php" target="_top"><img align="left" src="{MENU_PREFERENCES}" width="16" height="16" vspace="0">{LN_MENU_ADMINCENTER}</a></td>
	<td class="topmenu1end" nowrap align="right" width="max"><a class="topmenu1_link" href="{BASEPATH}about.php?{additional_url}" target="_top"><img align="right" src="{MENU_BULLET_GREEN}" width="16" height="16" vspace="0">{LN_MENU_ABOUT}</a></td>
	<td class="topmenu1end" nowrap align="right" width="10">&nbsp;</td>
</tr>
</table>