<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_with_border">
<tr>
	<td class="topmenu1begin" nowrap align="center" width="16"><img align="left" src="{MENU_BULLET_GREEN}" width="16" height="16" vspace="0"></td>
	<td class="topmenu1" nowrap align="center" width="75"><a class="topmenu1_link" href="{BASEPATH}index.php?{additional_url}" target="_top"><img align="left" src="{MENU_HOMEPAGE}" width="16" height="16" vspace="0">{LN_MENU_HOME}</a></td>
	<td class="topmenu1" nowrap align="center" width="75"><a class="topmenu1_link" href="{BASEPATH}find-players.php?{additional_url}" target="_top"><img align="left" src="{MENU_SEARCH}" width="16" height="16" vspace="0">{LN_MENU_SEARCH}</a></td>
	<td class="topmenu1" nowrap align="left" width="100">
		<div id="menu"><ul>
		  <li class="topmenu1_link">
		  <a class="topmenu1_link" href="rounds.php?{additional_url}" target="_top">
		  <img align="left" src="{MENU_NAV_CLOSE}" width="16" height="16" title="{LN_GEN_PREDEFINEDSEARCHES}" OnClick="ToggleDisplayTypeById('menu_showrounds');">{LN_MENU_ROUNDSTATS}
		  </a>
			<ul class="with_border" id="menu_showrounds">
				<li class="topmenu2">
				<a class="topmenu2_link" href="rounds.php?{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_ROUNDS_BYDATE}</a>
				</li>

				<li class="topmenu2">
				<h2><img align="left" src="{MENU_NAV_CLOSE}" width="16" height="16" vspace="0">{LN_MENU_ROUNDS_BYGAMETYPE}</h2>
					<ul class="with_border">
					<!-- BEGIN gametypes -->
					<li class="topmenu3">
					<a class="topmenu3_link" href="rounds.php?id={NAME}{additional_url}" target="_top">{GameTypeDisplayName}</a>
					</li>
					<!-- END gametypes -->
					</ul>
				</li>
			</ul>

		  </li>
		</ul></div>
	</td>
	<td class="topmenu1" nowrap align="left" width="100">
		<div id="menu"><ul>
		  <li class="topmenu1_link">
		  <a class="topmenu1_link" href="players.php?{additional_url}" target="_top">
		  <img align="left" src="{MENU_ADMINUSERS}" width="16" height="16" title="{LN_GEN_PREDEFINEDSEARCHES}" OnClick="ToggleDisplayTypeById('menu_playerstats');">{LN_MENU_PLAYERSTATS}
		  </a>
			<ul class="with_border" id="menu_playerstats">
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=Kills{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_BYKILL}</a></li>
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=Deaths{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_BYDEATH}</a></li>
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=Teamkills{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_BYTEAMKILLS}</a></li>
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=Suicides{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_BYSUICIDES}</a></li>
				<li class="topmenu2"><a class="topmenu2_link" href="players.php?sorting=KillRatio{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_PLAYER_RATIO}</a></li>
			</ul>

		  </li>
		</ul></div>
	</td>
	<td class="topmenu1" nowrap align="left" width="110">
		<div id="menu"><ul>
		  <li class="topmenu1_link">
		  <a class="topmenu2_link" href=" weapons.php?{additional_url}" target="_top">
		  <img align="left" src="{MENU_FOLDER_OPEN}" width="16" height="16" title="{LN_GEN_PREDEFINEDSEARCHES}" OnClick="ToggleDisplayTypeById('menu_weaponstats');">{LN_MENU_WEAPONSTATS}
		  </a>
			<ul class="with_border" id="menu_weaponstats">

				<!-- BEGIN weapontypes -->
				<li class="topmenu2">
				<h2><img align="left" src="{MENU_NAV_CLOSE}" width="16" height="16" vspace="0">{Name}</h2>
					
					<ul class="with_border">
					<!-- BEGIN myweapons -->
					<li class="topmenu3">
					<a class="topmenu3_link" href="weapons.php?id={INGAMENAME}{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{WeaponDisplayName}</a>
					</li>
					<!-- END myweapons -->
					</ul>
				</li>
				<!-- END weapontypes -->
			</ul>

		  </li>
		</ul></div>
	</td>
	<td class="topmenu1" nowrap align="left" width="135">
		<div id="menu"><ul>
		  <li class="topmenu1_link">
		  <a class="topmenu2_link" href=" damagetypes.php?{additional_url}" target="_top">
		  <img align="left" src="{MENU_FOLDER_OPEN}" width="16" height="16" title="{LN_GEN_PREDEFINEDSEARCHES}" OnClick="ToggleDisplayTypeById('menu_damagestats');">{LN_MENU_DAMAGESTATS}
		  </a>
			<ul class="with_border" id="menu_damagestats">

				<!-- BEGIN damagetypes_menu -->
				<li class="topmenu2">
				<a class="topmenu2_link" href="damagetypes.php?id={DAMAGETYPE}{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{DisplayName}</a>
				</li>
				<!-- END damagetypes_menu -->
			</ul>

		  </li>
		</ul></div>
	</td>
	<td class="topmenu1" nowrap align="left" width="100">
		<div id="menu"><ul>
		  <li class="topmenu1_link">
		  <a class="topmenu2_link" href="serverstats.php?{additional_url}" target="_top">
		  <img align="left" src="{MENU_ADMINUSERS}" width="16" height="16" title="{LN_GEN_PREDEFINEDSEARCHES}" OnClick="ToggleDisplayTypeById('menu_serverstats');">{LN_MENU_SERVERSTATS}
		  </a>

			<ul class="with_border" id="menu_serverstats">
				<li class="topmenu2"><a class="topmenu2_link" href="serverstats.php" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_SERVERLIST}</a></li>
	<!-- IF serverselected="true" -->
				<li class="topmenu2"><a class="topmenu2_link" href="serverstats.php?{additional_url}" target="_top"><img align="left" src="{MENU_BULLET_YELLOW}" width="16" height="16" vspace="0">{LN_MENU_SERVERPLAYEDMAPS}</a></li>
	<!-- ENDIF serverselected="true" -->
			</ul>

		  </li>
		</ul></div>
	</td>

	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/index.php" target="_top"><img align="left" src="{MENU_PREFERENCES}" width="16" height="16" vspace="0">{LN_MENU_ADMINCENTER}</a></td>
	<td class="topmenu1end" nowrap align="right" width="max"><a class="topmenu1_link" href="{BASEPATH}about.php?{additional_url}" target="_top">{LN_MENU_ABOUT}</a></td>
</tr>
</table>