<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{TITLE}</title>
	{EXTRA_METATAGS}
	<link rel="stylesheet" href="{BASEPATH}css/defaults.css">
	<link rel="stylesheet" href="{BASEPATH}css/menu.css">
	<link rel="stylesheet" href="{BASEPATH}themes/{user_theme}/main.css">
	{EXTRA_STYLESHEET}

	<script src='{BASEPATH}js/common.js'></script>
	{EXTRA_JAVASCRIPT}
	{EXTRA_HTMLHEAD}
</head>
<body>
{EXTRA_HEADER}

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="mainheader us-chrome-top">
<tr> 
	<td rowspan="4" width="400" align="left" class="us-header-logo-cell"><a href="{BASEPATH}index.php"><img src="{EXTRA_ULTRASTATS_LOGO}" width="400" height="100" name="HeaderLogo" alt="{LN_MAINTITLE}"></a></td>
	<td width="100%" align="center" valign="top" height="20" class="us-header-control-cell">

	<!-- IF IS_LOGINPAGE!="true" -->
	<form action="{CURRENTURL}" method="get" name="serveridform">
	<table width="350" border="0" cellspacing="0" cellpadding="0" class="with_border us-header-control-table" align="right">
	<tr> 
		<td class="cellmenu1" nowrap width="150"><label for="us-header-serverid"><b>&nbsp;{LN_MAINSELECTSERVER}&nbsp;</b></label></td>
		<td align="right" class="cellmenu2">
			<!-- BEGIN HIDDENVARS -->
			<input type="hidden" name="{varname}" value="{varvalue}">
			<!-- END HIDDENVARS -->
			<select id="us-header-serverid" name="serverid" size="1" class="us-autosubmit-select us-form-select-medium">
				<!-- BEGIN serverlist -->
				<option {selected} value="{ID}">{Name}</option>
				<!-- END serverlist -->
			</select>
		</td>
	</tr>
	</table>
	</form>
	<!-- ENDIF IS_LOGINPAGE!="true" -->

	</td>
	<td rowspan="4" width="10" align="center" nowrap class="us-header-spacer-cell">&nbsp;</td>
</tr>
<tr> 
	<td width="100%" align="center" valign="top" height="20" class="us-header-control-cell">

	<!-- IF IS_LOGINPAGE!="true" -->
	<form action="userchange.php" method="get" name="langidform">
	<table width="350" border="0" cellspacing="0" cellpadding="0" class="with_border us-header-control-table" align="right">
	<tr> 
		<td class="cellmenu1" nowrap width="150"><label for="us-header-langcode"><b>&nbsp;{LN_GEN_LANGUAGE}&nbsp;</b></label></td>
		<td align="right" class="cellmenu2">
			<input type="hidden" name="op" value="changelang">
			<select id="us-header-langcode" name="langcode" size="1" class="us-autosubmit-select us-form-select-medium">
				<!-- BEGIN USERLANG -->
				<option {is_selected} value="{langcode}">{DisplayName}</option>
				<!-- END USERLANG -->
			</select>
		</td>
	</tr>
	</table>
	</form>
	<!-- ENDIF IS_LOGINPAGE!="true" -->

	</td>
</tr>
<tr> 
	<td width="100%" align="center" valign="top" height="20" class="us-header-control-cell">

	<!-- IF IS_LOGINPAGE!="true" -->
	<form action="userchange.php" method="get" name="styleidform">
	<table width="350" border="0" cellspacing="0" cellpadding="0" class="with_border us-header-control-table" align="right">
	<tr> 
		<td class="cellmenu1" nowrap width="150"><label for="us-header-stylename"><b>&nbsp;{LN_MAIN_SELECTSTYLE}&nbsp;</b></label></td>
		<td align="right" class="cellmenu2">
			<input type="hidden" name="op" value="changestyle">
			<select id="us-header-stylename" name="stylename" size="1" class="us-autosubmit-select us-form-select-medium">
				<!-- BEGIN USERSTYLES -->
				<option {is_selected} value="{StyleName}">{StyleName}</option>
				<!-- END USERSTYLES -->
			</select>
		</td>
	</tr>
	</table>
	</form>
	<!-- ENDIF IS_LOGINPAGE!="true" -->

	</td>
</tr>
<!-- IF theme_madebyenable="true" -->
<tr> 
	<td width="100%" align="center" valign="top" height="100%" class="us-header-control-cell">

	<!-- IF IS_LOGINPAGE!="true" -->
	<table width="350" border="0" cellspacing="0" cellpadding="0" class="with_border us-header-control-table" align="right">
	<tr> 
		<td class="cellmenu1" nowrap width="150"><b>&nbsp;{LN_GEN_SKINMADEBY}&nbsp;</b></td>
		<td align="right" class="cellmenu2">
		<a href="{theme_madebylink}" target="_blank" rel="noopener noreferrer" class="cellmenu2_link">{theme_madeby}</a>
		</td>
	</tr>
	</table>
	<!-- ENDIF IS_LOGINPAGE!="true" -->

	</td>
</tr>
<!-- ENDIF theme_madebyenable="true" -->
<!-- IF theme_madebyenable="false" -->
<tr> 
	<td width="100%" align="center" valign="top" height="100%" class="us-header-control-cell">&nbsp;</td>
</tr>
<!-- ENDIF theme_madebyenable="false" -->
</table>

<!-- INCLUDE include_menu.html -->

<!-- INCLUDE include_pager.html -->

<table class="popupdetails with_border us-popup-panel" id="popupdetails" cellpadding="2" cellspacing="0" border="0">
<tr><td width="100%" class="cellmenu1" id="popuptitle" align="center" nowrap>&nbsp;</td></tr>
<tr>
	<td width="100%" class="popupcontent" id="popupcontent">&nbsp;</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_with_border us-chrome-body">
<tr> 
	<td>

	<!-- IF error_installfilereminder="true" -->
	<div class="us-center">
		<div class="table_with_border_second ErrorMsg us-max-w-600" role="alert" aria-live="assertive">
			<h3 class="us-error-text"><br><br>{LN_ERROR_INSTALLFILEREMINDER}</h3>
		</div>
	</div>
	<!-- ENDIF error_installfilereminder="true" -->
