<!-- INCLUDE include_header.html -->

<!-- IF iserror="true" -->
<br><br>
<div class="us-center">
	<div class="table_with_border_second ErrorMsg us-fixed-w-600" role="alert" aria-live="assertive">
		<div class="PriorityError">{LN_ERROR_DETAILS}</div>
		<p>{ERROR_DETAILS}</p>
		</div>
	<br><br>
</div>
<br><br>
<!-- ENDIF iserror="true" -->

<!-- IF medalsenabled="true" -->
<table width="100%" cellpadding="0" cellspacing="5" border="0" align="center">
<tr>
	<td width="50%" valign="top">

		<table width="100%" cellpadding="1" cellspacing="0" border="0" align="center">
		<tr>
			<td width="40%" valign="top">

				<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td colspan="3" class="title" nowrap>{LN_MEDAL_DETAILS}</td>
				</tr>
				</table>
				<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border">
				<tr>
					<td colspan="2" width="128" nowrap valign="top" class="line1">

					<img src="{BASEPATH}images/medals/normal/{medalid}.png" width="128" height="256" name="{medalid}" alt="">

					</td>
					<td width="100%" nowrap valign="top" class="tableBackground" rowspan="4">
						<table width="100%" cellpadding="2" cellspacing="0" border="0" align="center">
						<tr><td width="100%" class="cellmenu1" align="center"><b>{LN_MEDAL_DESCRIPTION}</b></td></tr>
						</table>
						<table width="100%" cellpadding="5" cellspacing="0" border="0" align="center">
						<tr>
							<td width="100%">{medaldescription}</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>

			</td>
			<td width="60%" valign="top">

			<!-- IF mostkillssenabled="true" -->
				<table width="95%" cellpadding="1" cellspacing="0" border="0" align="center">
				<tr>
					<td class="title" width="400" nowrap>{LN_MEDAL_TOPPLAYERS} ({web_detaillistsplayers} of {mostkills_count})</td>
				</tr>
				</table>

				<!-- IF mostkills_pagerenabled="true" -->
				<table width="95%" align="center" border="0" cellpadding="1" cellspacing="1" class="with_border">
				<tr>
					<td class="cellmenu2" nowrap><b>Pages: &nbsp; </b>
				<!-- BEGIN MOSTKILLSPAGES -->
					&nbsp;<a href="?id={medalid}&mostkills_start={mypagebegin}&killedby_start={current_killedby_pagebegin}{additional_url}" target="_top">{mypagenumber}</a>
				<!-- END MOSTKILLSPAGES -->
					</td>
					<td nowrap width="100%" class="line2"><i>&nbsp;{MOSTKILLS_MOREPAGES}</i></td>
<!--					<td nowrap align="right" class="line2"><i>{LN_PLAYERS_ONLYLISTED} ({LN_PLAYERS_WITHMINPLAY}: <b>{web_mintime}</b> {LN_PLAYERS_SECANDMINKILLS}: <b>{web_minkills}</b>)</i></td>-->
				</tr>
				</table>
				<!-- ENDIF mostkills_pagerenabled="true" -->

				<table width="95%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
				<tr>
					<td width="20" class="cellmenu1" align="center" nowrap><b>{LN_TOPPLAY_NUM}</b></td>
					<td width="100%" class="cellmenu1" align="center" nowrap><b>{LN_TOPPLAY_NAME}</b></td>
					<td width="40" class="cellmenu1" align="center" nowrap><b>{LN_TOPPLAY_KILLS}</b></td>
					<td width="200" class="cellmenu1" align="center" nowrap><b>>{LN_TOPPLAY_Deaths}</b></td>
				</tr>

				<!-- BEGIN mostkills -->
				<tr>
					<td align="right" class="{cssclass}"><b>{Number}</b></td>
					<td class="{cssclass}"><a href="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</b></td>
					<td align="right" class="{cssclass}"><b>{AllKills}</b>&nbsp;</td>
					<td class="{cssclass}" align="left" nowrap>&nbsp;<img src="{BarImageLeft}" width="" height="9" alt="" aria-hidden="true"><img src="{BarImageMiddle}" width="{KillBarWidth}%" height="9" alt="" aria-hidden="true"><img src="{BarImageRight}" width="" height="9" alt="" aria-hidden="true">&nbsp;</td>

				</tr>
				<!-- END mostkills -->

				</table>

			<!-- ENDIF mostkillssenabled="true" -->
				<br>

			</td>
		</tr>
		</table>
</tr>
</table>
<!-- ENDIF medalsenabled="true" -->

<!-- INCLUDE include_footer.html -->
