<!-- INCLUDE include_header.html --> 

<!-- IF roundsenabled!="true" -->
<br><br>
<div class="us-center">
	<div class="table_with_border_second ErrorMsg us-fixed-w-600" role="alert" aria-live="assertive">
		<div class="PriorityError">{LN_ERROR_DETAILS}</div>
		<p>{ERROR_DETAILS}</p>
		</div>
	<br><br>
</div>
<br><br>
<!-- ENDIF roundsenabled!="true" -->

<!-- IF roundsenabled="true" -->
<table width="100%" cellpadding="0" cellspacing="5" border="0" align="center" class="us-public-scroll-strip">
<tr>
	<td width="10" valign="top" rowspan="2" nowrap>&nbsp;</td>
	<td width="60%" valign="top">

		<table width="100%" align="center" border="0" cellpadding="1" cellspacing="1" class="with_border_alternate">
		<tr>
			<td class="title" nowrap>{LN_ROUNDS_DETAILS} '{roundid}'</td>
		</tr>
		</table>

		<!-- IF rounds_team_enabled="true" -->
		<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border">
		<tr>
			<td width="36" class="cellmenu1" align="left" nowrap><img src="{BASEPATH}images/main/{gen_gameversion_picpath}/flag-axis-small.png" width="24" alt="Axis"></td>
			<td width="50%" class="cellmenu1" align="center" nowrap><b>{LN_ROUNDS_AXIS}</b></td>
			<td width="50" class="cellmenu2" align="center" nowrap><b>{LN_ROUNDS_POINTS}</b></td>
			<td width="30" class="line1" align="center" nowrap><p class="{AxisTeamClass}"><b>{AxisRoundWins}</b></p></td>
			<td width="36" class="cellmenu1" align="left" nowrap><img src="{BASEPATH}images/main/{gen_gameversion_picpath}/flag-allies-small.png" width="24" alt="Allies"></td>
			<td width="50%" class="cellmenu1" align="center" nowrap><b>{LN_ROUNDS_ALLIES}</b></td>
			<td width="50" class="cellmenu2" align="center" nowrap><b>{LN_ROUNDS_POINTS}</b></td>
			<td width="30" class="line1" align="center" nowrap><p class="{AlliesTeamClass}"><b>{AlliesRoundWins}</b></p></td>
		</tr>
		<tr>
			<td colspan="4" valign="top" class="line2">
				<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center">
				<tr>
					<td width="20" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NUM}</b></td>
					<td width="100%" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NAME}</b></td>
					<td width="70" colspan="2" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_KILLS}/{LN_TOPPLAY_Deaths}</b></td>
					<td width="40" class="cellmenu2" align="center" nowrap><b>{LN_PLAYER_RATIO}</b></td>
				</tr>
				<!-- BEGIN AxisPlayers -->
				<tr>
					<td align="right" class="{cssclass}"><b>{Number}</b></td>
					<td class="{cssclass}"><a href="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</a></td>
					<td align="right" class="{cssclass}"><b>{TotalKills}</b>&nbsp;</td>
					<td align="right" class="{cssclass}"><b>{TotalKilled}</b>&nbsp;</td>
					<td align="center" class="{cssclass}" nowrap>
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
						<tr>
							<td class="us-stat-bar-negative" width="50%"><img vspace="0" hspace="0" align="left" src="{BarImageKillRatioMinus}" width="{KillRatioWidthMinus}%" height="9" title="{KillRatioWidthMinusText}" alt="" aria-hidden="true"></td>
							<td class="us-stat-bar-positive" width="50%">
							<!-- IF KillRatioWidthPlusText!="" -->
							<img vspace="0" hspace="0" align="left" src="{BarImageKillRatioPlus}" width="{KillRatioWidthPlus}%" height="9" title="{KillRatioWidthPlusText}" alt="" aria-hidden="true">
							<!-- ENDIF KillRatioWidthPlusText!="" -->
							</td>
						</tr>
						</table>
					</td>
				</tr>
				<!-- END AxisPlayers -->
				</table>
			</td>
			<td colspan="4" valign="top" class="line2">
				<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center">
				<tr>
					<td width="20" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NUM}</b></td>
					<td width="100%" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NAME}</b></td>
					<td width="70" colspan="2" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_KILLS}/{LN_TOPPLAY_Deaths}</b></td>
					<td width="40" class="cellmenu2" align="center" nowrap><b>{LN_PLAYER_RATIO}</b></td>
				</tr>
				<!-- BEGIN AlliesPlayers -->
				<tr>
					<td align="right" class="{cssclass}"><b>{Number}</b></td>
					<td class="{cssclass}"><a href="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</a></td>
					<td align="right" class="{cssclass}"><b>{TotalKills}</b>&nbsp;</td>
					<td align="right" class="{cssclass}"><b>{TotalKilled}</b>&nbsp;</td>
					<td align="center" class="{cssclass}" nowrap>
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
						<tr>
							<td class="us-stat-bar-negative" width="50%"><img vspace="0" hspace="0" align="left" src="{BarImageKillRatioMinus}" width="{KillRatioWidthMinus}%" height="9" title="{KillRatioWidthMinusText}" alt="" aria-hidden="true"></td>
							<td class="us-stat-bar-positive" width="50%">
							<!-- IF KillRatioWidthPlusText!="" -->
							<img vspace="0" hspace="0" align="left" src="{BarImageKillRatioPlus}" width="{KillRatioWidthPlus}%" height="9" title="{KillRatioWidthPlusText}" alt="" aria-hidden="true">
							<!-- ENDIF KillRatioWidthPlusText!="" -->
							</td>
						</tr>
						</table>
					</td>
				</tr>
				<!-- END AlliesPlayers -->
				</table>
			</td>
		</tr>
		</table>
		<!-- ENDIF rounds_team_enabled="true" -->


		<!-- IF rounds_dm_enabled="true" -->
		<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border">
		<tr>
			<td width="20" class="cellmenu1" align="center" nowrap><b>{LN_TOPPLAY_NUM}</b></td>
			<td width="100%" class="cellmenu1" align="center" nowrap><b>{LN_TOPPLAY_NAME}</b></td>
			<td width="70" colspan="2" class="cellmenu1" align="center" nowrap><b>{LN_TOPPLAY_KILLS}/{LN_TOPPLAY_Deaths}</b></td>
			<td width="40" class="cellmenu2" align="center" nowrap><b>{LN_PLAYER_RATIO}</b></td>
		</tr>
		<!-- BEGIN AllPlayers -->
		<tr>
			<td align="right" class="{cssclass}"><b>{Number}</b></td>
			<td class="{cssclass}"><a href="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</a></td>
			<td align="right" class="{cssclass}"><b>{TotalKills}</b>&nbsp;</td>
			<td align="right" class="{cssclass}"><b>{TotalKilled}</b>&nbsp;</td>
			<td align="center" class="{cssclass}" nowrap>
				<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
				<tr>
					<td class="us-stat-bar-negative" width="50%"><img vspace="0" hspace="0" align="left" src="{BarImageKillRatioMinus}" width="{KillRatioWidthMinus}%" height="9" title="{KillRatioWidthMinusText}" alt="" aria-hidden="true"></td>
					<td class="us-stat-bar-positive" width="50%">
					<!-- IF KillRatioWidthPlusText!="" -->
					<img vspace="0" hspace="0" align="left" src="{BarImageKillRatioPlus}" width="{KillRatioWidthPlus}%" height="9" title="{KillRatioWidthPlusText}" alt="" aria-hidden="true">
					<!-- ENDIF KillRatioWidthPlusText!="" -->
					</td>
				</tr>
				</table>
			</td>
		</tr>
		<!-- END AllPlayers -->
		</table>
		<!-- ENDIF rounds_dm_enabled="true" -->

		<!-- IF rounds_unfinished_enabled="true" -->
		<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border">
		<tr>
			<td colspan="10" class="cellmenu1" align="center" nowrap><b>{LN_ROUNDS_PLAYERDIDNOTFINISH}</b></td>
		</tr>
		<tr>
			<td width="20" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NUM}</b></td>
			<td width="50%" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NAME}</b></td>
			<td width="70" colspan="2" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_KILLS}/{LN_TOPPLAY_Deaths}</b></td>
			<td width="40" class="cellmenu2" align="center" nowrap><b>{LN_PLAYER_RATIO}</b></td>
			<td width="20" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NUM}</b></td>
			<td width="50%" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NAME}</b></td>
			<td width="70" colspan="2" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_KILLS}/{LN_TOPPLAY_Deaths}</b></td>
			<td width="40" class="cellmenu2" align="center" nowrap><b>{LN_PLAYER_RATIO}</b></td>
		</tr>
		<tr>
		<!-- BEGIN unfinishedplayers -->
			<td align="right" class="{cssclass}"><b>{Number}</b></td>
			<td class="{cssclass}"><a href="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</a></td>
			<td align="right" class="{cssclass}"><b>{TotalKills}</b>&nbsp;</td>
			<td align="right" class="{cssclass}"><b>{TotalKilled}</b>&nbsp;</td>
			<td align="center" class="{cssclass}" nowrap>
				<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
				<tr>
					<td class="us-stat-bar-negative" width="50%"><img vspace="0" hspace="0" align="left" src="{BarImageKillRatioMinus}" width="{KillRatioWidthMinus}%" height="9" title="{KillRatioWidthMinusText}" alt="" aria-hidden="true"></td>
					<td class="us-stat-bar-positive" width="50%">
					<!-- IF KillRatioWidthPlusText!="" -->
					<img vspace="0" hspace="0" align="left" src="{BarImageKillRatioPlus}" width="{KillRatioWidthPlus}%" height="9" title="{KillRatioWidthPlusText}" alt="" aria-hidden="true">
					<!-- ENDIF KillRatioWidthPlusText!="" -->
					</td>
				</tr>
				</table>
			</td>
			{NewTR}
		<!-- END unfinishedplayers -->
		</tr>
		</table>
		<!-- ENDIF rounds_unfinished_enabled="true" -->

	</td>
	<td width="10" valign="top" nowrap>&nbsp;</td>
	<td width="40%" valign="top">

		<table width="100%" cellpadding="1" cellspacing="0" border="0" align="center">
		<tr>
			<td width="50%" valign="top">

			<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
			<tr>
				<td class="title" nowrap>{LN_ROUNDS_AWARDS}</td>
			</tr>
			</table>
			<!-- BEGIN Awards -->
			<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border">
			<tr>
				<td colspan="3" class="cellmenu1" align="center" nowrap><b>{DisplayName}</b></td>
			</tr>
			<tr>
				<td class="cellmenu2_naked" width="42" align="left" nowrap><img src="{MedalImage}" width="32" height="64" alt="{PLAYER_FinalMapDisplayName}"></td>
				<td class="{cssclass}" align="center" valign="top">
					<br><a href="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</a>
					<br>{ValueTitel}: <b>{Value}</b>
				</td>
			</tr>
			</table>
			<!-- END Awards -->

			</td>
			<td width="50%" valign="top">

			<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
			<tr>
				<td class="title" nowrap>{LN_ROUNDS_SUM}</td>
			</tr>
			</table>

			<table width="100%" cellpadding="2" cellspacing="1" border="0" align="center" class="with_border">
			<tr>
				<td class="cellmenu2_naked" width="75" align="center" nowrap><b>{LN_LROUNDS_MAPNAME}</b></td>
				<td class="line1" align="center" width="100%" valign="top">
					<a href="info-maps.php?id={MapName}{additional_url}"><img src="{MapNameFile}" width="100" alt="{MapDisplayName}" class="imageborder"></a>
				</td>
			</tr>
			<tr>
				<td class="cellmenu2" align="left" nowrap><b>{LN_LROUNDS_GAMETYPE}</b></td>
				<td class="line2" align="center" valign="top">{GameTypeDisplayName}
<!--					<img src="{MapNameFile}" width="100" alt="{MapDisplayName}" class="imageborder">-->
				</td>
			</tr>
			<tr>
				<td class="cellmenu2" align="left" nowrap><b>{LN_LROUNDS_TIME}</b></td>
				<td class="line1" align="center" valign="top">{TimePlayed}</td>
			</tr>
			<tr>
				<td class="cellmenu2" align="left" nowrap><b>{LN_LROUNDS_DURATION}</b></td>
				<td class="line2" align="center" valign="top">{DurationTime}</td>
			</tr>
			</table>
			<br>

			</td>
		</tr>

		<tr>
			<td colspan="2" valign="top">

			<!-- IF gameactions_enabled="true" -->
			<table width="100%" cellpadding="1" cellspacing="0" border="0" align="center">
			<tr>
				<td class="title" nowrap>{LN_ROUNDS_ACTIONS}</td>
			</tr>
			</table>
			<!-- BEGIN gameactions -->
			<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border">
			<tr>
				<td width="100" class="cellmenu1_naked" align="center" rowspan="{RowSpanCount}" nowrap><b>{LN_ROUNDS_ACTIONNAME}<br> {DisplayName}</b></td>
				<td width="100%" class="cellmenu2" align="center" nowrap><b>{LN_TOPPLAY_NAME}</b></td>
				<td width="50" class="cellmenu2" align="center" nowrap><b>{LN_PLAYER_ALIASCOUNT}</b></td>
			</tr>
				<!-- BEGIN myplayers -->
				<tr>
					<td class="{cssclass}"><a href="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</a></td>
					<td align="right" class="{cssclass}"><b>{Count}</b>&nbsp;</td>
				</tr>
				<!-- END myplayers -->
			</table>
			<!-- END gameactions -->
			<!-- ENDIF gameactions_enabled="true" -->

			</td>
		</tr>
		</table>
	</td>
	<td width="10" valign="top" rowspan="2" nowrap>&nbsp;</td>
</tr>
<tr>
	<td valign="top" colspan="3">
	<br>
		<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="title" nowrap>{LN_ROUNDS_CHATLOG}</td>
		</tr>
		</table>
		<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td>
			<iframe id="container" src="rounds-chatlog.php?id={roundid}{additional_url}" width="100%" height="200" class="with_border" title="{LN_ROUNDS_CHATLOG}">
				<p>{NO_INFRAME_POSSIBLE}</p>
			</iframe>
			</td>
		</tr>
		</table>
	</td>

</tr>
</table>
<!-- ENDIF roundsenabled="true" -->

<!-- INCLUDE include_footer.html -->
