<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_with_border">
<tr>
	<td class="topmenu1begin" nowrap align="center" width="16"><img align="left" src="{MENU_BULLET_GREEN}" width="16" height="16" vspace="0"></td>
	<td class="topmenu1" nowrap align="center" width="75"><a class="topmenu1_link" href="{BASEPATH}index.php?{additional_url}" target="_top"><img align="left" src="{MENU_HOMEPAGE}" width="16" height="16" vspace="0">{LN_MENU_HOME}</a></td>
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/index.php" target="_top"><img align="left" src="{MENU_PREFERENCES}" width="16" height="16" vspace="0">{LN_MENU_ADMINCENTER}</a></td>

<!-- IF SESSION_LOGGEDIN="true" -->
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/servers.php" target="_top"><img align="left" src="{MENU_ADMINSERVERS}" width="16" height="16" vspace="0">{LN_MENU_ADMINSERVERS}</a></td>
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/players.php" target="_top"><img align="left" src="{MENU_ADMINPLAYERS}" width="16" height="16" vspace="0">{LN_MENU_ADMINPLAYERS}</a></td>
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/stringeditor.php" target="_top"><img align="left" src="{MENU_ADMINSTREDITOR}" width="16" height="16" vspace="0">{LN_MENU_ADMINSTREDITOR}</a></td>
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/users.php" target="_top"><img align="left" src="{MENU_ADMINUSERS}" width="16" height="16" vspace="0">{LN_MENU_ADMINUSERS}</a></td>
	<td class="topmenu1" nowrap align="center" width="100"><a class="topmenu1_link" href="{BASEPATH}admin/login.php?op=logoff" target="_top"><img align="left" src="{MENU_ADMINLOGOFF}" width="16" height="16" vspace="0">{LN_MENU_ADMINLOGOFF}</a></td>
<!-- ENDIF SESSION_LOGGEDIN="true" -->

	<td class="topmenu1end" nowrap align="right" width="max"><a class="topmenu1_link" href="{BASEPATH}about.php?{additional_url}" target="_top">{LN_MENU_ABOUT}</a></td>
</tr>
</table>
