<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{TITLE}</title>
	{EXTRA_METATAGS}

	<link rel="stylesheet" href="{BASEPATH}css/defaults.css">
	<link rel="stylesheet" href="{BASEPATH}css/menu.css">
	<link rel="stylesheet" href="{BASEPATH}themes/{web_theme}/main.css">
	{EXTRA_STYLESHEET}

	<script src='{BASEPATH}js/common.js'></script>
	{EXTRA_JAVASCRIPT}
</head>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="mainheader us-chrome-top">
<tr> 
	<td rowspan="4" width="400" align="left" class="us-header-logo-cell"><a href="{BASEPATH}index.php"><img src="{EXTRA_ULTRASTATS_LOGO}" width="400" height="100" name="HeaderLogo" alt="{LN_MAINTITLE}"></a></td>
	<td width="100%" align="center" valign="top" height="20" class="us-header-control-cell">&nbsp;</td>
	<td rowspan="4" width="10" align="center" nowrap class="us-header-spacer-cell">&nbsp;</td>
</tr>
<tr> 
	<td width="100%" align="center" valign="top" height="20" class="us-header-control-cell">&nbsp;</td>
</tr>
<tr> 
	<td width="100%" align="center" valign="top" height="20" class="us-header-control-cell">&nbsp;</td>
</tr>
<tr> 
	<td width="100%" align="center" valign="top" height="100%" class="us-header-control-cell">&nbsp;</td>
</tr>
</table>

<!-- INCLUDE admin/admin_menu.html -->

<table class="popupdetails with_border us-popup-panel" id="popupdetails" cellpadding="2" cellspacing="0" border="0">
<tr><td width="100%" class="cellmenu1" id="popuptitle" align="center" nowrap>&nbsp;</td></tr>
<tr>
	<td width="100%" class="popupcontent" id="popupcontent">&nbsp;</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_with_border us-chrome-body">
<tr> 
	<td>
<!-- IF isupdateavailable="true" -->
<br>
<div class="us-center">
	<div class="table_with_border_second ErrorMsg us-admin-update-banner">
		<div class="PriorityError">{LN_UPDATE_AVAILABLE}</div>
		<p>
		{UPDATE_AVAILABLETEXT}
		<br>
		<a href="{isupdateavailable_updatelink}" target="_blank" rel="noopener noreferrer">{LN_UPDATE_LINK}</a>
		</p>
	</div>
</div>
<!-- ENDIF isupdateavailable="true" -->
	<br>
