<!-- INCLUDE admin/admin_header.html --> 

<table width="400" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border_alternate us-admin-summary-table">
<tr>
	<td colspan="10" align="center" valign="top" class="title">
	<strong>{LN_ADMINCENTER}</strong></td>
</tr>
</table>
<table width="400" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border us-admin-summary-table">
<tr>
	<td align="center">

		<table cellpadding="1" cellspacing="1" border="0" class="us-admin-summary-metrics">
		<tr>
			<td align="right" width="150" class="cellmenu2" nowrap><b>{LN_NUMSERVERS}</b></td>
			<td align="center" width="100%" class="line1">{NUMSERVERS}</td>
		</tr>
		<tr>
			<td align="right" width="150" class="cellmenu2" nowrap><b>{LN_LASTDBUPDATE}</b></td>
			<td align="center" width="100%" class="line2">{LASTDBUPDATE}</td>
		</tr>
		<tr>
			<td align="right" width="150" class="cellmenu2" nowrap><b>{LN_CURRDBVERSION}</b></td>
			<td align="center" width="100%" class="line1">{database_installedversion}</td>
		</tr>
		</table>
	</form>
	</td>
</tr>
</table>

<br><br>

<form id="admin-gen-form" action="" method="post">
	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border_alternate us-admin-config-table">
	<tr>
		<td colspan="2" align="center" valign="top" class="title">
		<strong>{LN_ADMINGENCONFIG}</strong></td>
	</tr>
	</table>
	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border us-admin-config-table">
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-gen-lang"><b>{LN_GEN_LANGUAGE}</b></label></td>
		<td align="right" class="line1" width="100%">
			<select id="admin-gen-lang" name="gen_lang" size="1" class="us-form-select-wide">
				<!-- BEGIN LANGUAGES -->
				<option {selected}>{langcode}</option>
				<!-- END LANGUAGES -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-gen-gameversion"><b>{LN_GEN_GAMEVERSION}</b></label></td>
		<td align="right" class="line2" width="100%">
			<select id="admin-gen-gameversion" name="gen_gameversion" size="1" class="us-form-select-wide">
				<!-- BEGIN GAMEVERSIONS -->
				<option {selected} value="{gamever}">{gamevertitle}</option>
				<!-- END GAMEVERSIONS -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-gen-parseby"><b>{LN_GEN_PARSEBYTYPE}</b></label></td>
		<td align="right" class="line1">
			<select id="admin-gen-parseby" name="gen_parseby" size="1" class="us-form-select-wide">
				<!-- BEGIN PARSEBYTYPES -->
				<option {selected} value="{parsebytype}">{parsebytypetitle}</option>
				<!-- END PARSEBYTYPES -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-gen-phpdebug"><b>{LN_GEN_PHPDEBUG}</b></label></td>
		<td align="right" class="line2"><input type="checkbox" id="admin-gen-phpdebug" name="gen_phpdebug" value="yes" {gen_phpdebug_checked}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-gen-gzipcompression"><b>{LN_GEN_WEB_GZIP}</b></label></td>
		<td align="right" class="line1"><input type="checkbox" id="admin-gen-gzipcompression" name="gen_gzipcompression" value="yes" {gen_gzipcompression_checked}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-gen-bigselects"><b>{LN_GEN_WEB_BIGSELECTS}</b></label></td>
		<td align="right" class="line1"><input type="checkbox" id="admin-gen-bigselects" name="gen_bigselects" value="yes" {gen_bigselects_checked}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-gen-maxexecutiontime"><b>{LN_GEN_WEB_MAXTIMEOUT}</b></label></td>
		<td align="right" class="line2"><input type="text" id="admin-gen-maxexecutiontime" name="gen_maxexecutiontime" size="40" maxlength="16" value="{gen_maxexecutiontime}">
	</tr>
	</table>

	<br>

	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border_alternate us-admin-config-table">
	<tr>
		<td align="center" valign="top" class="title">
		<strong>{LN_ADMINFRONTEND}</strong></td>
	</tr>
	</table>
	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border us-admin-config-table">
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-web-theme"><b>{LN_GEN_WEB_STYLE}</b></label></td>
		<td align="right" class="line1" width="100%">
			<select id="admin-web-theme" name="web_theme" size="1" class="us-form-select-wide">
				<!-- BEGIN STYLES -->
				<option {selected}>{StyleName}</option>
				<!-- END STYLES -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-mainpageplayers"><b>{LN_GEN_WEB_MAINTPPLAYERS}</b></label></td>
		<td align="right" class="line2" >
			<select id="admin-web-mainpageplayers" name="web_mainpageplayers" size="1" class="us-form-select-wide">
				<!-- BEGIN MAINPAGEPLAYERS -->
				<option {selected}>{Number}</option>
				<!-- END MAINPAGEPLAYERS -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-topplayers"><b>{LN_GEN_WEB_TOPPLAYERS}</b></label></td>
		<td align="right" class="line2" >
			<select id="admin-web-topplayers" name="web_topplayers" size="1" class="us-form-select-wide">
				<!-- BEGIN TOPPLAYERS -->
				<option {selected}>{Number}</option>
				<!-- END TOPPLAYERS -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-detaillistsplayers"><b>{LN_GEN_WEB_DETAILLISTTOPPLAYERS}</b></label></td>
		<td align="right" class="line1" >
			<select id="admin-web-detaillistsplayers" name="web_detaillistsplayers" size="1" class="us-form-select-wide">
				<!-- BEGIN TOPLISTPLAYERS -->
				<option {selected}>{Number}</option>
				<!-- END TOPLISTPLAYERS -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-toprounds"><b>{LN_GEN_WEB_TOPROUNDS}</b></label></td>
		<td align="right" class="line2" >
			<select id="admin-web-toprounds" name="web_toprounds" size="1" class="us-form-select-wide">
				<!-- BEGIN TOPROUNDS -->
				<option {selected}>{Number}</option>
				<!-- END TOPROUNDS -->
			</select>
		</td>
	</tr>

	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-maxpages"><b>{LN_GEN_WEB_MAXPAGES}</b></label></td>
		<td align="right" class="line1" >
			<select id="admin-web-maxpages" name="web_maxpages" size="1" class="us-form-select-wide">
				<!-- BEGIN WEBMAXPAGES -->
				<option {selected}>{Number}</option>
				<!-- END WEBMAXPAGES -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-maxmapsperpage"><b>{LN_GEN_WEB_MAXMAPSPERPAGE}</b></label></td>
		<td align="right" class="line2" >
			<select id="admin-web-maxmapsperpage" name="web_maxmapsperpage" size="1" class="us-form-select-wide">
				<!-- BEGIN WEBMAXMAPSPERPAGE -->
				<option {selected}>{Number}</option>
				<!-- END WEBMAXMAPSPERPAGE -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-minkills"><b>{LN_GEN_WEB_MINKILLS}</b></label></td>
		<td align="right" class="line1" ><input type="text" id="admin-web-minkills" name="web_minkills" size="40" maxlength="255" value="{web_minkills}"></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-mintime"><b>{LN_GEN_WEB_MINTIME}</b></label></td>
		<td align="right" class="line2" ><input type="text" id="admin-web-mintime" name="web_mintime" size="40" maxlength="16" value="{web_mintime}"></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-medals"><b>{LN_GEN_WEB_SHOWMEDALS}</b></label></td>
		<td align="right" class="line1" ><input type="checkbox" id="admin-web-medals" name="web_medals" value="yes" {web_medals_checked}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-medals-anti"><b>{LN_GEN_WEB_SHOWANTIMEDALS}</b></label></td>
		<td align="right" class="line2" ><input type="checkbox" id="admin-web-medals-anti" name="web_medals_anti" value="yes" {web_medals_anti_checked}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-prepend-title"><b>{LN_GEN_PREPENDTITLE}</b></label></td>
		<td align="right" class="line1" ><input type="text" id="admin-prepend-title" name="PrependTitle" size="50" maxlength="255" value="{PrependTitle}"></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2_naked"><label for="admin-ultrastats-logo-url"><b>{LN_ADMIN_ULTRASTATS_LOGOURL}</b></label></td>
		<td align="right" class="line1"><input type="text" id="admin-ultrastats-logo-url" name="UltrastatsLogoUrl" size="50" maxlength="255" value="{UltrastatsLogoUrl}"></td>
	</tr>
<!-- TODO
	<tr>
		<td align="left" class="cellmenu2_naked" valign="_top"><b>{LN_GEN_INJECTHTMLHEADER}</b></td>
		<td align="right" class="line2" colspan="2"><textarea name="InjectHtmlHeader" cols="85" rows="3">{InjectHtmlHeader}</textarea></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2_naked" valign="_top"><b>{LN_GEN_INJECTBODYHEADER}</b></td>
		<td align="right" class="line2" colspan="2"><textarea name="InjectBodyHeader" cols="85" rows="3">{InjectBodyHeader}</textarea></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2_naked" valign="_top"><b>{LN_GEN_INJECTBODYFOOTER}</b></td>
		<td align="right" class="line2" colspan="2"><textarea name="InjectBodyFooter" cols="85" rows="3">{InjectBodyFooter}</textarea></td>
	</tr>
-->
	</table>

	<br>

	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border_alternate us-admin-config-table">
	<tr>
		<td colspan="2" align="center" valign="top" class="title">
		<strong>{LN_ADMINPLAYERDETAILS}</strong></td>
	</tr>
	</table>
	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border us-admin-config-table">
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-web-playermodel-killer"><b>{LN_GEN_PD_KILLERMODEL}</b></label></td>
		<td align="right" class="line1" >
			<select id="admin-web-playermodel-killer" name="web_playermodel_killer" size="1" class="us-form-select-wide">
				<!-- BEGIN PLAYERMODELKILLER -->
				<option value="{ModelName}" {selected}>{ModelDisplayname}</option>
				<!-- END PLAYERMODELKILLER -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-web-playermodel-killedby"><b>{LN_GEN_PD_KILLEDBYMODEL}</b></label></td>
		<td align="right" class="line2" >
			<select id="admin-web-playermodel-killedby" name="web_playermodel_killedby" size="1" class="us-form-select-wide">
				<!-- BEGIN PLAYERMODELKILLEDBY -->
				<option value="{ModelName}" {selected}>{ModelDisplayname}</option>
				<!-- END PLAYERMODELKILLEDBY -->
			</select>
		</td>
	</tr>

	
	</table>

	<br>

	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border_alternate us-admin-config-table">
	<tr>
		<td colspan="2" align="center" valign="top" class="title">
		<strong>{LN_ADMINPARSER}</strong></td>
	</tr>
	</table>
	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border us-admin-config-table">
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-parser-debugmode"><b>{LN_PARSER_DEBUGMODE}</b></label></td>
		<td align="right" class="line2" width="100%">
			<select id="admin-parser-debugmode" name="parser_debugmode" size="1" class="us-form-select-wide">
				<!-- BEGIN DBGMODES -->
				<option {selected}>{DisplayName}</option>
				<!-- END DBGMODES -->
			</select>
		</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-parser-disablelastline"><b>{LN_PARSER_DISABLELASTLOGLINE}</b></label></td>
		<td align="right" class="line1" width="100%"><input type="checkbox" id="admin-parser-disablelastline" name="parser_disablelastline" value="yes" {parser_disablelastline_checked}></td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><label for="admin-parser-chatlogging"><b>{LN_PARSER_ENABLECHATLOGGING}</b></label></td>
		<td align="right" class="line2" ><input type="checkbox" id="admin-parser-chatlogging" name="parser_chatlogging" value="yes" {parser_chatlogging_checked}></td>
	</tr>
	</table>

	<br>

	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border_alternate us-admin-config-table">
	<tr>
		<td colspan="2" align="center" valign="top" class="title">
		<strong>{LN_ADMINMEDALS}</strong></td>
	</tr>
	</table>
	<table border="0" cellpadding="1" cellspacing="1" width="700" align="center" class="with_border us-admin-config-table">
	<!-- IF medalsadmingrouppro="true" -->
	<tr>
		<td align="left" class="line2" width="350" nowrap><label for="admin-medal-group-pro"><b>{LN_ADMINMEDALSGROUP_PRO}</b></label></td>
		<td align="right" class="line1" width="100%"><input type="checkbox" id="admin-medal-group-pro" class="us-medal-group-toggle" data-us-medal-group="pro" value="1" title="{LN_ADMINMEDALSGROUP_ENABLEALL}"></td>
	</tr>
	<!-- ENDIF medalsadmingrouppro="true" -->
	<!-- BEGIN medals_admin_pro -->
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-medal-cb-{medalid}"><b>{AdminDisplayName}</b></label></td>
		<td align="right" class="line1" width="100%"><input type="checkbox" id="admin-medal-cb-{medalid}" class="us-medal-cb" name="{medalid}" value="yes" {MedalChecked} data-us-medal-group="pro"></td>
	</tr>
	<!-- END medals_admin_pro -->
	<!-- IF medalsadmingroupanti="true" -->
	<tr>
		<td align="left" class="line2" width="350" nowrap><label for="admin-medal-group-anti"><b>{LN_ADMINMEDALSGROUP_ANTI}</b></label></td>
		<td align="right" class="line1" width="100%"><input type="checkbox" id="admin-medal-group-anti" class="us-medal-group-toggle" data-us-medal-group="anti" value="1" title="{LN_ADMINMEDALSGROUP_ENABLEALL}"></td>
	</tr>
	<!-- ENDIF medalsadmingroupanti="true" -->
	<!-- BEGIN medals_admin_anti -->
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-medal-cb-{medalid}"><b>{AdminDisplayName}</b></label></td>
		<td align="right" class="line1" width="100%"><input type="checkbox" id="admin-medal-cb-{medalid}" class="us-medal-cb" name="{medalid}" value="yes" {MedalChecked} data-us-medal-group="anti"></td>
	</tr>
	<!-- END medals_admin_anti -->
	<!-- IF medalsadmingroupcustom="true" -->
	<tr>
		<td align="left" class="line2" width="350" nowrap><label for="admin-medal-group-custom"><b>{LN_ADMINMEDALSGROUP_CUSTOM}</b></label></td>
		<td align="right" class="line1" width="100%"><input type="checkbox" id="admin-medal-group-custom" class="us-medal-group-toggle" data-us-medal-group="custom" value="1" title="{LN_ADMINMEDALSGROUP_ENABLEALL}"></td>
	</tr>
	<!-- ENDIF medalsadmingroupcustom="true" -->
	<!-- BEGIN medals_admin_custom -->
	<tr>
		<td align="left" class="cellmenu2" width="350" nowrap><label for="admin-medal-cb-{medalid}"><b>{AdminDisplayName}</b></label></td>
		<td align="right" class="line1" width="100%"><input type="checkbox" id="admin-medal-cb-{medalid}" class="us-medal-cb" name="{medalid}" value="yes" {MedalChecked} data-us-medal-group="custom"></td>
	</tr>
	<!-- END medals_admin_custom -->

	<tr>
		<td align="center" colspan="2" class="line1" id="medal-autorecalc-status" data-msg-saving="{LN_ADMINMEDAL_AUTOSAVE_SAVING}" data-msg-recalc="{LN_ADMINMEDAL_AUTOSAVE_RECALC}" data-msg-done="{LN_ADMINMEDAL_AUTOSAVE_DONE}" data-msg-error="{LN_ADMINMEDAL_AUTOSAVE_ERR}" data-recalc-url="parser-sse.php?op=calcmedalsonly" data-debounce-ms="500">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			<input type="submit" value="{LN_ADMINSEND}">
			<input type="hidden" name="op" value="edit">
		</td>
	</tr>
	</table>


</form>

<!-- INCLUDE admin/admin_footer.html -->
