<!-- INCLUDE admin/admin_header.html --> 

<!-- IF ISERROR="true" -->
<div class="us-center">
<h3 class="ErrorMsg" role="alert" aria-live="assertive">{ERROR_MSG}</h3>
</div>
<!-- ENDIF ISERROR="true" -->

<table width="90%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
	<tr>
		<td colspan="10" align="center" valign="top" class="title">
		<strong>{LN_ADMINCENTER_PARSER} | <a href="servers.php" aria-label="{LN_SERVERLIST}">{LN_SERVERLIST}</a></strong></td>
	</tr>
<!-- BEGIN SERVER -->
	<tr>
		<td colspan="10" align="center" valign="top" class="title">
		<strong>Current Server ID '{ID}'</strong></td>
	</tr>

	<tr>
		<td align="center">
			<table border="0" cellpadding="2" cellspacing="1" class="us-admin-table-surface">
			<tr>
				<td align="center" width="150" class="line1" nowrap><b>{LN_SERVERNAME}</b></td>
				<td align="center" width="100%" class="line1">{Name}</td>
			</tr>
			<tr>
				<td align="center" width="150" class="line1" nowrap><b>{LN_SERVERTOOLS}</b></td>
				<td colspan="2" align="center" class="line0">
					&nbsp;<a href="servers.php?op=edit&id={ID}" aria-label="{LN_ADMINEDIT}"><img src="{BASEPATH}images/icons/edit.png" width="16" title="{LN_ADMINEDIT}" alt="" aria-hidden="true"></a>
					&nbsp;<a href="parser.php?op=delete&id={ID}" class="us-confirm-nav" data-confirm-message="{LN_WARNINGDELETE}" aria-label="{LN_ADMINDELETE}"><img src="{BASEPATH}images/icons/delete.png" width="16" title="{LN_ADMINDELETE}" alt="" aria-hidden="true"></a>
					&nbsp;<a href="parser.php?op=updatestats&id={ID}" aria-label="{LN_ADMINPARSESTATS}"><img src="{BASEPATH}images/icons/gears_run.png" width="16" title="{LN_ADMINPARSESTATS}" alt="" aria-hidden="true"></a>
					&nbsp;<a href="parser.php?op=createaliases&id={ID}" aria-label="{LN_ADMINCREATEALIASES}"><img src="{BASEPATH}images/icons/businessmen.png" width="16" title="{LN_ADMINCREATEALIASES}" alt="" aria-hidden="true"></a>
					&nbsp;<a href="servers.php?op=dbstats&id={ID}" aria-label="{LN_ADMINDBSTATS}"><img src="{BASEPATH}images/icons/line-chart.png" width="16" title="{LN_ADMINDBSTATS}" alt="" aria-hidden="true"></a>
					&nbsp;<a href="parser.php?op=resetlastlogline&id={ID}" class="us-confirm-nav" data-confirm-message="{LN_WARNINGRESETLASTLOGLINE}" aria-label="{LN_ADMINRESETLASTLOGLINE}"><img src="{BASEPATH}images/icons/recycle.png" width="16" title="{LN_ADMINRESETLASTLOGLINE}" alt="" aria-hidden="true"></a>
					&nbsp;<a href="parser.php?op=deletestats&id={ID}" class="us-confirm-nav" data-confirm-message="{LN_WARNINGDELETE_STATS}" aria-label="{LN_ADMINDELETESTATS}"><img src="{BASEPATH}images/icons/garbage_empty.png" width="16" title="{LN_ADMINDELETESTATS}" alt="" aria-hidden="true"></a>
					&nbsp;<a href="parser.php?op=getnewlogfile&id={ID}" aria-label="{LN_ADMINGETNEWLOG}"><img src="{BASEPATH}images/icons/download.png" width="16" title="{LN_ADMINGETNEWLOG}" alt="" aria-hidden="true"></a>
				</td>
			</tr>
<!-- END SERVER -->

<!-- IF RUNPARSER="true" -->

<!-- IF parseroperation="updatestats" -->
			<tr>
				<td align="center" width="150" class="line1" nowrap><b>{LN_GAMELOGLOCATION}</b></td>
				<td align="center" width="100%" class="line1">{GameLogLocation}</td>
			</tr>
			<tr>
				<td align="center" width="150" class="line0" nowrap><b>{LN_LASTLINE}</b></td>
				<td align="center" width="100%" class="line0">{LastLogLine}</td>
			</tr>
<!-- ENDIF parseroperation="updatestats" -->

<!-- BEGIN SERVER -->
			</table>
		</td>
	</tr>
<!-- END SERVER -->
</table>

	<br>
	<div class="parser-embed-section">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
		<tr>
			<td colspan="10" align="center" valign="top" class="title">
			<strong>{LN_EMBEDDED_PARSER}</strong></td>
		</tr>
	</table>

	<div class="parser-embed-toolbar us-parser-embed-toolbar">
		<p id="parser-stream-status" class="us-parser-stream-status" role="status" aria-live="polite">Running…</p>
		<button type="button" id="parser-cancel-btn" class="line0 us-parser-cancel-btn" aria-label="{LN_PARSER_CANCEL}" aria-controls="parser-log-wrap">{LN_PARSER_CANCEL}</button>
	</div>
	<div id="parser-log-wrap" role="region" aria-label="{LN_EMBEDDED_PARSER}" data-parser-op="{parseroperation}" data-parser-id="{serverid}" data-msg-cancelling="{LN_PARSER_CANCELLING}" data-msg-cancelled="{LN_PARSER_CANCELLED_STATUS}" data-msg-done="{LN_PARSER_DONE}" data-msg-return-serverlist="{LN_PARSER_RETURN_SERVERLIST}" data-parser-serverlist-href="servers.php">
		<div id="parser-log-header" class="parser-sse-cols us-hidden"></div>
		<pre id="parser-log-pre" class="parser-sse-pre" role="log" aria-live="polite" aria-relevant="additions text" spellcheck="false"></pre>
		<div id="parser-done-banner" class="parser-done-banner" role="status" aria-live="polite" hidden></div>
	</div>
	</div>

<!-- ENDIF RUNPARSER="true" -->

<br><br>

<!-- INCLUDE admin/admin_footer.html -->
