<!-- INCLUDE admin/admin_slim_header.html --> 

<!-- IF ISERROR="true" -->
<div class="us-center">
	<div class="table_with_border_second ErrorMsg us-fixed-w-400" role="alert" aria-live="assertive">
		<div class="PriorityError">{LN_ERROR_DETAILS}</div>
		<p>{ERROR_MSG}</p>
		</div>
	<br><br>
</div>
<!-- ENDIF ISERROR="true" -->

<!-- IF FTP_IS_ENABLED!="true" -->
<div class="us-center">
	<div class="table_with_border_second ErrorMsg us-fixed-w-400">
		<div class="PriorityWarning">{LN_WARN_DETAILS}</div>
		<p>{LN_WARN_NOFTPEXTENSIONS}</p>
		</div>
	<br><br>
</div>
<!-- ENDIF FTP_IS_ENABLED!="true" -->

<!-- IF ISSAVED="true" -->
<div class="us-admin-ftpbuilder-autoclose" data-ftpbuilder-close-delay="5000"></div>

<div class="us-center">
<br>
{LN_FTPBUILD_SAVEDCLOE}
<br><br>
<input type="button" class="us-admin-ftpbuilder-close" value="Close Window">
<h3></h3>
</div>
<!-- ENDIF ISSAVED="true" -->

<!-- IF ISSAVED!="true" -->
	<!-- IF ISERROR!="true" -->
	<div class="us-admin-ftpbuilder-position" data-popup-center-width="500" data-popup-center-height="500"></div>

	<table cellpadding="0" cellspacing="0" border="0" align="center" class="with_border">
		<tr>
			<td colspan="10" align="center" valign="top" class="title"><strong>{LN_ADMINCENTER_FTPBUILDER}</strong></td>
		</tr>
		<tr>
			<td colspan="10" align="left" class="line2 us-pad-5">{LN_ADMINCENTER_FTPBUILDER_DES}<br></td>
		</tr>
		<tr>
			<td align="center">

			<form action="" method="post" name="ftpcheck" class="us-ftp-builder-form">
				<table border="0" cellpadding="1" cellspacing="1" class="us-admin-table-surface" width="100%">
				<tr>
					<td align="left" class="cellmenu1" width="200" nowrap><b>{LN_FTPBUILD_SERVERIP}</b></td>
					<td align="center" class="line2" width="100%"><input type="text" name="serverip" size="40" maxlength="255" value="{SERVERIP}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_FTPBUILD_SERVERPORT}</b></td>
					<td align="center" class="line1"><input type="text" name="serverport" size="40" maxlength="7" value="{SERVERPORT}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu1" nowrap><b>{LN_FTPBUILD_USERNAME}</b></td>
					<td align="center" class="line2"><input type="text" name="username" size="40" maxlength="255" value="{USERNAME}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_FTPBUILD_PASSWORD}</b></td>
					<td align="center" class="line1"><input type="text" name="password" size="40" maxlength="255" value="{PASSWORD}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu1" nowrap><b>{LN_FTPBUILD_PATHTOGAMELOG}</b></td>
					<td align="center" class="line2"><input type="text" name="pathtogamelog" size="40" maxlength="128" value="{PATHTOGAMELOG}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_FTPBUILD_GAMELOGFILENAME}</b></td>
					<td align="center" class="line1"><input type="text" name="gamelogfilename" size="40" maxlength="128" value="{GAMELOGFILENAME}"></td>
				</tr>
				<tr>
					<td align="left" class="cellmenu2" nowrap><b>{LN_FTPPASSIVEENABLED}</b></td>
					<td align="left" class="line2">&nbsp;&nbsp;&nbsp;<input type="checkbox" name="ftppassiveenabled" value="yes" {FTPPASSIVEENABLED_CHECKED}>&nbsp;Click to enable</td>
				</tr>
				<tr>
					<td align="center" colspan="2" class="line1">
						<br>
						<input type="submit" name="verify" value="{LN_FTPBUILD_VERIFY_FTPURL}">
						<input type="submit" name="save" value="{LN_FTPBUILD_SAVE_FTPURL}">
						<input type="hidden" name="id" value="{SERVERID}">
						<br><br>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2" class="cellmenu1">
						<b>{LN_FTPBUILD_PREVIEW}</b>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2" class="line0 us-pad-7">
						<span id="preview" name="preview" class="with_border us-pad-2"></span>
					</td>
				</tr>
	<!-- IF ISVERIFY="true" -->
				<tr>
					<td align="center" colspan="2" class="cellmenu1">
						<b>{LN_FTPBUILD_VERIFY}</b>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2" class="line0 us-pad-5">
					<span id="verify" name="verify">{verifyresults}</span>
					</td>
				</tr>
	<!-- ENDIF ISVERIFY="true" -->

				</table>
			</form>

			</td>
		</tr>
	</table>

	<!-- ENDIF ISERROR!="true" -->
<!-- ENDIF ISSAVED!="true" -->



<!-- INCLUDE admin/admin_slim_footer.html -->
