<!-- INCLUDE admin/admin_header.html --> 

<!-- IF ISERROR="true" -->
<br><br>
<div class="us-center">
	<div class="table_with_border_second ErrorMsg us-admin-warning-box" role="alert" aria-live="assertive">
		<div class="PriorityError">{LN_ERROR_DETAILS}</div>
		<p>{ERROR_MSG}</p>
		</div>
	<br><br>
</div>
<br><br>
<!-- ENDIF ISERROR="true" -->

<!-- IF FTP_IS_ENABLED!="true" -->
<br><br>
<div class="us-center">
	<div class="table_with_border_second ErrorMsg us-admin-warning-box">
		<div class="PriorityWarning">{LN_WARN_DETAILS}</div>
		<p>{LN_WARN_NOFTPEXTENSIONS}</p>
		</div>
	<br><br>
</div>
<br><br>
<!-- ENDIF FTP_IS_ENABLED!="true" -->

<table cellpadding="0" cellspacing="0" border="0" width="600" align="center" class="with_border_alternate us-admin-responsive-panel">
<tr>
	<td colspan="10" align="center" valign="top" class="title"><strong>{LN_ADMINCENTER_SERVER}</strong></td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="600" align="center" class="with_border us-admin-responsive-panel">
<tr>
	<td align="center">

<!-- IF LISTSERVERS="true" -->
		<table border="0" cellpadding="2" cellspacing="1" width="600" class="tableBackground us-admin-scroll-strip">
		<tr>
			<td align="center" width="50" class="cellmenu1"><b>{LN_SERVERNUMBER}</b></td>
			<td align="center" width="300" class="cellmenu1"><b>{LN_SERVERNAME}</b></td>
			<td align="center" width="200" class="cellmenu1"><b>{LN_SERVERACTION}</b></td>
		</tr>
		<!-- BEGIN SERVERS -->
		<tr>
			<td align="center" class="{CSS_CLASS}"><b>{ID}</b></td>
			<td align="center" class="{CSS_CLASS}"><a href="servers.php?op=dbstats&id={ID}">{Name}</a></td>
			<td align="center" class="{CSS_CLASS}">
				&nbsp;<a href="servers.php?op=edit&id={ID}" aria-label="{LN_ADMINEDIT_TEXT}"><img src="{BASEPATH}images/icons/edit.png" width="16" alt="" aria-hidden="true" class="us-popup-help" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINEDIT_TEXT}"></a>
				&nbsp;<a href="parser.php?op=delete&id={ID}" class="us-confirm-nav" data-confirm-message="{LN_WARNINGDELETE}" aria-label="{LN_ADMINDELETE_TEXT}"><img src="{BASEPATH}images/icons/delete.png" width="16" alt="" aria-hidden="true" class="us-popup-help" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINDELETE_TEXT}"></a>
				&nbsp;<a href="parser.php?op=updatestats&id={ID}" aria-label="{LN_ADMINPARSESTATS_TEXT}"><img src="{BASEPATH}images/icons/gears_run.png" width="16" alt="" aria-hidden="true" class="us-popup-help" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINPARSESTATS_TEXT}"></a>
				&nbsp;<a href="parser.php?op=createaliases&id={ID}" aria-label="{LN_ADMINCREATEALIASES_TEXT}"><img src="{BASEPATH}images/icons/businessmen.png" width="16" alt="" aria-hidden="true" class="us-popup-help" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINCREATEALIASES_TEXT}"></a>
				&nbsp;<a href="servers.php?op=dbstats&id={ID}" aria-label="{LN_ADMINDBSTATS_TEXT}"><img src="{BASEPATH}images/icons/line-chart.png" width="16" alt="" aria-hidden="true" class="us-popup-help" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINDBSTATS_TEXT}"></a>
				&nbsp;<a href="parser.php?op=resetlastlogline&id={ID}" class="us-confirm-nav" data-confirm-message="{LN_WARNINGRESETLASTLOGLINE}" aria-label="{LN_ADMINRESETLASTLOGLINE_TEXT}"><img src="{BASEPATH}images/icons/recycle.png" width="16" alt="" aria-hidden="true" class="us-popup-help" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINRESETLASTLOGLINE_TEXT}"></a>
				&nbsp;<a href="parser.php?op=deletestats&id={ID}" class="us-confirm-nav" data-confirm-message="{LN_WARNINGDELETE_STATS}" aria-label="{LN_ADMINDELETESTATS_TEXT}"><img src="{BASEPATH}images/icons/garbage_empty.png" width="16" alt="" aria-hidden="true" class="us-popup-help" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINDELETESTATS_TEXT}"></a>
				&nbsp;<a href="parser.php?op=getnewlogfile&id={ID}" aria-label="{LN_ADMINGETNEWLOG_TEXT}"><img src="{BASEPATH}images/icons/download.png" width="16" alt="" aria-hidden="true" class="us-popup-help" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINGETNEWLOG_TEXT}"></a>
			</td>
		</tr>
		<!-- END SERVERS -->
		<tr>
			<td align="center" colspan="3" class="tableBackground">
				<a href="servers.php?op=add" aria-label="{LN_ADDSERVER}"><img src="{BASEPATH}images/icons/add.png" title="{LN_ADMINADD} {LN_SERVER}" alt="" aria-hidden="true">&nbsp;{LN_ADDSERVER}</a> &nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td align="center" colspan="3" class="cellmenu1"><b>{LN_ADDITIONALFUNCTIONS}</b></td>
		</tr>
		<tr><td align="left" colspan="3" class="line1"><a href="parser.php?op=databaseopt" class="us-popup-help" data-popup-title="{LN_DETAIL_INFO}" data-popup-content="{LN_DATABASEOPT_MORE}"><img src="{BASEPATH}images/icons/line-chart.png">&nbsp;{LN_DATABASEOPT}</a></td></tr>
		<tr><td align="left" colspan="3" class="line2"><a href="parser.php?op=runtotals" class="us-popup-help" data-popup-title="{LN_DETAIL_INFO}" data-popup-content="{LN_RUNTOTALUPDATE_MORE}"><img src="{BASEPATH}images/icons/gears_run.png">&nbsp;{LN_RUNTOTALUPDATE}</a></td></tr>
		<tr><td align="left" colspan="3" class="line1"><a href="parser.php?op=calcdamagetypekills" class="us-popup-help" data-popup-title="{LN_DETAIL_INFO}" data-popup-content="{LN_RUNDAMAGETYPEKILLS_MORE}"><img src="{BASEPATH}images/icons/gears_run.png">&nbsp;{LN_RUNDAMAGETYPEKILLS}</a></td></tr>
		<tr><td align="left" colspan="3" class="line1"><a href="parser.php?op=calcweaponkills" class="us-popup-help" data-popup-title="{LN_DETAIL_INFO}" data-popup-content="{LN_RUNWEAPONKILLS_MORE}"><img src="{BASEPATH}images/icons/gears_run.png">&nbsp;{LN_RUNWEAPONKILLS}</a></td></tr>
		<tr><td align="left" colspan="3" class="line2"><a href="parser.php?op=createaliases" class="us-popup-help" data-popup-title="{LN_DETAIL_INFO}" data-popup-content="{LN_CREATEALIASES_MORE}"><img src="{BASEPATH}images/icons/gears_run.png">&nbsp;{LN_CREATEALIASES}</a></td></tr>
		<tr><td align="left" colspan="3" class="line1"><a href="parser.php?op=calcmedalsonly" class="us-popup-help" data-popup-title="{LN_DETAIL_INFO}" data-popup-content="{LN_CALCMEDALSONLY_MORE}"><img src="{BASEPATH}images/icons/gears_run.png">&nbsp;{LN_CALCMEDALSONLY}</a></td></tr>
		</table>
<!-- ENDIF LISTSERVERS="true" -->

<!-- IF ISEDITORNEWSERVER="true" -->
		<form action="" method="post">
			<table border="0" cellpadding="1" cellspacing="1" class="us-admin-table-surface" width="100%">
			<tr>
				<td align="left" class="cellmenu1" width="150" nowrap><label for="admin-server-name"><b>{LN_SERVERNAME}</b></label></td>
				<td align="left" class="line2" width="100%"><input type="text" id="admin-server-name" name="servername" size="50" maxlength="255" value="{SERVERNAME}" required></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" nowrap><label for="admin-server-ip"><b>{LN_SERVERIP}</b></label></td>
				<td align="left" class="line1"><input type="text" id="admin-server-ip" name="serverip" size="50" maxlength="16" value="{SERVERIP}" required></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu1" nowrap><label for="admin-server-port"><b>{LN_PORT}</b></label></td>
				<td align="left" class="line2"><input type="number" id="admin-server-port" name="port" min="0" max="65534" step="1" inputmode="numeric" value="{PORT}" required></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2_naked" nowrap><label for="admin-server-description"><b>{LN_DESCRIPTION}</b></label></td>
				<td align="left" class="line1"><textarea id="admin-server-description" name="description" cols="49" rows="5">{DESCRIPTION}</textarea></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu1" nowrap><label for="admin-server-modname"><b>{LN_MODNAME}</b></label></td>
				<td align="left" class="line2"><input type="text" id="admin-server-modname" name="modname" size="50" maxlength="32" value="{MODNAME}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" nowrap><label for="admin-server-adminname"><b>{LN_ADMINNAME}</b></label></td>
				<td align="left" class="line1"><input type="text" id="admin-server-adminname" name="adminname" size="50" maxlength="255" value="{ADMINNAME}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu1" nowrap><label for="admin-server-clanname"><b>{LN_CLANNAME}</b></label></td>
				<td align="left" class="line2"><input type="text" id="admin-server-clanname" name="clanname" size="50" maxlength="255" value="{CLANNAME}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" nowrap><label for="admin-server-adminemail"><b>{LN_ADMINEMAIL}</b></label></td>
				<td align="left" class="line1"><input type="text" id="admin-server-adminemail" name="adminemail" size="50" maxlength="255" value="{ADMINEMAIL}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu1" nowrap><label for="admin-server-gameloglocation"><b>{LN_GAMELOGLOCATION}</b></label></td>
				<td align="left" class="line2"><input type="text" id="admin-server-gameloglocation" name="gameloglocation" size="50" maxlength="255" value="{GAMELOGLOCATION}" required></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu1" nowrap><label for="admin-server-remotegameloglocation"><b>{LN_REMOTEGAMELOGLOCATION}</b></label></td>
				<td align="left" class="line1">
				<input type="text" id="admin-server-remotegameloglocation" name="remotegameloglocation" size="35" maxlength="255" value="{REMOTEGAMELOGLOCATION}">
				<input type="button" class="us-open-popup us-popup-help" data-popup-url="servers-ftpbuilder.php?id={SERVERID}" data-popup-name="BuildFTP" data-popup-width="500" data-popup-height="500" data-popup-options="" data-popup-title="{LN_ADMIN_POPUPHELP}" data-popup-content="{LN_ADMINCREATEFTP_TEXT}" value="{LN_BUILDFTPSTRING}" {BUILDFTP_DISABLED}>
				</td>
			</tr>
			<tr>
				<td align="left" class="cellmenu1" nowrap><label for="admin-server-ftppassiveenabled"><b>{LN_FTPPASSIVEENABLED}</b></label></td>
				<td align="left" class="line2"><input type="checkbox" id="admin-server-ftppassiveenabled" name="ftppassiveenabled" value="yes" {FTPPASSIVEENABLED_CHECKED}></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu1" nowrap><label for="admin-server-logo"><b>{LN_SERVERLOGO}</b></label></td>
				<td align="left" class="line1"><input type="text" id="admin-server-logo" name="serverlogo" size="50" maxlength="255" value="{SERVERLOGO}"></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu2" nowrap><label for="admin-server-enabled"><b>{LN_SERVERENABLED}</b></label></td>
				<td align="left" class="line2"><input type="checkbox" id="admin-server-enabled" name="serverenabled" value="yes" {SERVERENABLED_CHECKED}></td>
			</tr>
			<tr>
				<td align="left" class="cellmenu1" nowrap><label for="admin-server-parsingenabled"><b>{LN_PARSINGENABLED}</b></label></td>
				<td align="left" class="line1"><input type="checkbox" id="admin-server-parsingenabled" name="parsingenabled" value="yes" {PARSINGENABLED_CHECKED}></td>
			</tr>
			<tr>
				<td align="center" colspan="2" class="tableBackground">
					<input type="submit" value="{SERVER_SENDBUTTON}">
					<input type="hidden" name="op" value="{SERVER_FORMACTION}">
					<input type="hidden" name="id" value="{SERVERID}">
				</td>
			</tr>
			</table>
		</form>
<!-- ENDIF ISEDITORNEWSERVER="true" -->

<!-- IF ISDBSTATS="true" -->
	<table border="0" cellpadding="1" cellspacing="1" class="us-admin-table-surface" width="100%">
	<tr>
		<td align="left" class="cellmenu1" width="150"  nowrap><b>{LN_STATSALIASES}</b></td>
		<td align="right" class="line2" width="100%">{STATSALIASES}</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_STATSCHATLINES}</b></td>
		<td align="right" class="line1">{STATSCHATLINES}</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu1" nowrap><b>{LN_STATSPLAYERS}</b></td>
		<td align="right" class="line2">{STATSPLAYERS}</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_STATSKILLS}</b></td>
		<td align="right" class="line1">{STATSKILLS}</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu1" nowrap><b>{LN_STATSROUNDS}</b></td>
		<td align="right" class="line2">{STATSROUNDS}</td>
	</tr>
	<tr>
		<td align="left" class="cellmenu2" nowrap><b>{LN_STATSTIME}</b></td>
		<td align="right" class="line1">{STATSTIME}</td>
	</tr>
	</table>
<!-- ENDIF ISDBSTATS="true" -->

		</td>
	</tr>
</table>

<!-- INCLUDE admin/admin_footer.html -->
