<!-- INCLUDE admin/admin_header.html --> 

<table cellpadding="0" cellspacing="0" border="0" align="center" class="with_border us-admin-responsive-panel" width="600">
	<tr>
		<td colspan="10" align="center" valign="top" class="title"><strong>{LN_DBUPGRADE_TITLE}</strong></td>
	</tr>
	<tr>
		<td align="center">

		<!-- IF ISERROR="true" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="line1 ErrorMsg" role="alert" aria-live="assertive">
				<h3 class="us-error-text">Error Occured:<br> {ERROR_MSG}
				<br><br>
				<div class="us-center">
					Click <a href="index.php" class="us-history-back" aria-label="Go back">here</a> to get back
				</div>
				</h3>
			</td>
		</tr>
		</table>
		<!-- ENDIF ISERROR="true" -->

		<!-- IF UPGRADE_DEFAULT="1" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="line1">

			<h1>{LN_DBUPGRADE_WELCOME}</h1>
			<p>{LN_DBUPGRADE_BEFORESTART}<br><br> 
			{LN_DBUPGRADE_CURRENTINSTALLED}: <b>{database_installedversion}</b><br>
			{LN_DBUPGRADE_TOBEINSTALLED}: <b>{database_internalversion}</b><br></p>

			<br><br>
			<div class="us-center">Click on <a href="?op=upgrade" aria-label="Start upgrade"><b>Upgrade</b></a> to start!</div>
			<p>&nbsp;</p>

			</td>
		</tr>
		</table>
		<!-- ENDIF UPGRADE_DEFAULT="1" -->

		<!-- IF UPGRADE_RUNNING="1" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="line1">
			<p>{LN_DBUPGRADE_HASBEENDONE}: <br><br>

			<li>{LN_DBUPGRADE_SUCCESSEXEC}: <b>{sql_sucess}</b><br>
			<li>{LN_DBUPGRADE_FAILEDEXEC}: <b>{sql_failed}</b> <br>

			<!-- IF sql_failed!="0" -->
				<table width="700" class="with_border_alternate us-admin-scroll-strip" cellpadding="2" cellspacing="1" border="0" align="center">
				<tr>
					<td colspan="2" nowrap class="cellmenu1" align="center"><b>{LN_DBUPGRADE_ONESTATEMENTFAILED}</b></td>
				</tr>
				<tr>
					<td width="400" class="cellmenu1">{LN_DBUPGRADE_ERRMSG}</td>
					<td width="300" class="cellmenu1" align="center"><b>SQL Statement</b></td>
				</tr>
				<!-- BEGIN failedstatements -->
				<tr>
					<td class="line0">{myerrmsg}</td>
					<td class="line0" align="center">{mystatement}</td>
				</tr>
				<!-- END failedstatements -->
				</table>
				<p>&nbsp;</p>
			<!-- ENDIF sql_failed!="0" -->

			<!-- IF UPGRADE_VERSION_BUMPED="0" -->
				<p class="us-error-text"><strong>{LN_DBUPGRADE_VERSION_NOT_BUMPED}</strong></p>
				<p>&nbsp;</p>
			<!-- ENDIF UPGRADE_VERSION_BUMPED="0" -->


			{LN_DBUPGRADE_CURRENTINSTALLED}: <b>{database_installedversion}</b><br>
			{LN_DBUPGRADE_TOBEINSTALLED}: <b>{database_internalversion}</b><br>

			<br><br>
			<div class="us-center">Click on <a href="index.php" aria-label="Return to admin center"><b>here</b></a> to return to the <b>Admin Center</b></div>
			<p>&nbsp;</p>

			</td>
		</tr>
		</table>
		<!-- ENDIF UPGRADE_RUNNING="1" -->

		<!-- IF UPGRADE_DEFAULT="0" -->
		<table width="100%" cellpadding="5" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td class="line1">

			<h1>Welcome to the Database Upgrade</h1>
			<div class="us-center"><h2 class="us-info-blue">Your database is fully updated!</h2></div>
			<p>{LN_DBUPGRADE_CURRENTINSTALLED}: <b>{database_installedversion}</b><br>
			{LN_DBUPGRADE_ULTRASTATSDBVERSION}: <b>{database_internalversion}</b><br></p>
			
			<br><br>
			<div class="us-center">Click on <a href="index.php" aria-label="Return to admin center"><b>here</b></a> to return to the <b>Admin Center</b></div>
			<p>&nbsp;</p>

			</td>
		</tr>
		</table>
		<!-- ENDIF UPGRADE_DEFAULT="0" -->
		</td>
	</tr>
</table>

<!-- INCLUDE admin/admin_footer.html -->
